/*
Theme Name: LT Hosting
Theme URI: http: //ltheme.com
Description: This is child theme of Layerswp
Author: L.THEME
Author URI: http://ltheme.com
Template: layerswp
Version: 1.0
*/
@import url("../layerswp/style.css");
@media (max-width: 480px) {
	.lt-about-services .column.span-2 {
    width: 100%;
	}
	.lt-company .text-left {
		text-align: center;
	}
	.lt-company .text-right {
		text-align: center;
	}
}
@media (max-width: 767px) {
	.lt-footer-right {
        float: left!important;
        position: static!important;
        text-align: left!important;
        width: 100%!important;
    }
    .lt-footer-left {
        width: 100%!important;
    }
    .lt-slider .section-title .heading {
    	font-size: 30px!important;
	}
}
@media (min-width: 767px) {
	.lt-about .column.span-4 {
		width: 100%;
		text-align: center;
	}
	.lt-business .text-left {
		text-align: center;
	}
	.lt-business .media h3 {
		text-align: center;
	} 
	.lt-business .column.span-3  {
		width: 100%!important;
	}
}
@media (max-width: 800px){
	.header-site .nav-horizontal li a {
		font-size: 14px!important;
	}
	.header-site .nav-horizontal li {
        float: left;
        margin: 0 4px!important;
    }
}
@media (min-width: 767px) and (max-width: 979px) {
	.nav .menu {
		display: none!important;
	}
	.nav .responsive-nav {
		display: block!important;
	}
}
@media (min-width: 980px) and (max-width: 1190px) {
	.header-site .nav-horizontal > ul > li > a {
    	padding: 0 5px!important;
	}
}
/* General */
.container {
	max-width: 1170px;
}
.created-using-layers {
	background: none!important;
}
.lt-general .section-title h3 {
	color: #000000;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}
.lt-general p {
	font-size: 23px;
	color: #666;
	font-weight: 600;
}
.lt-services,
.lt-price,.lt-blog,.lt-team {
	border-bottom: 2px solid #e8e8e8;
}
/* Menu */
.header-site .nav-horizontal li a {
	font-weight: 300!important;
	color: #fff;
	font-size: 16px;
}
.header-site .nav-horizontal li.current-post-parent a,
.header-site .nav-horizontal li.current-menu-item a,
.header-site .nav-horizontal .current-menu-ancestor>a,
.header-site .nav-horizontal .sub-menu li.current_page_item>a,
.header-site .nav-horizontal li a:hover  {
    color: #5aaddd!important;
}
.header-site .menu-item .sub-menu {
    background-color: #fff;
    border: 2px solid #fff!important;
    padding: 20px;
    
}
.header-site .menu-item .sub-menu li a {
    color: #000!important;
    padding: 14px 10px;
}
.header-overlay-no-push .header-overlay:not(.is_stuck),
.header-site, .header-site.header-sticky {
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0!important;
}

.header-site .menu-item .sub-menu li a:hover {
    background-color: #5aaddd!important;
    color: #fff!important;
}
#sp-header-sticky-wrapper.is-sticky #sp-header {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0!important;
}
/* Slider */
.lt-slider .heading {
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
}
.lt-slider .excerpt p {
	font-size: 27px;
}
.lt-slider h2 {
	font-size: 26px;
	line-height: 60px;
	font-weight: 300;
	text-transform: uppercase;
}
.lt-slider h4 {
	font-size: 20px;
	font-weight: 300;
	text-transform: none;
}
 .lt-slider .section-title .heading {
	font-size: 65px;
	clear: left;
	text-transform: uppercase;
}
.lt-slider .button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: none !important;
    color: #fff;
    font-size: 17px;
    font-weight: 500 !important;
    padding: 10px 40px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
}
.lt-slider .swiper-slide .button:hover  {
	background: #5aaddd;
	cursor: pointer;
	border-color: #5aaddd;
}
/* Services*/
 .lt-services .media .heading {
	font-size: 18px ;
    font-weight: 600;
    text-transform: capitalize;
}
.lt-services .layers-masonry-column h5{
	margin: 0px;
	font-size: 16px;
}
.lt-services:hover .service-content h5 {
	color: #fff;
	cursor: pointer;
	transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out;
  	-moz-transition: all 0.7s ease-in-out;
  	-o-transition: all 0.7s ease-in-out;
  	transition: all 0.7s ease-in-out;
}
.lt-services .layers-masonry-column .service_widgt span {
	background-color: none!important;
	color: #5aaddd!important;
	cursor: pointer;
	font-size: 60px;
} 
.lt-services .layers-masonry-column:hover span {
	display: none;
} 
.lt-services .button {
	background: none!important;
	color: #5aaddd;
	font-weight: 600;
	font-size: 15px;
}
.lt-services .service-content:hover a {
	color: #fff;
}
.lt-services .service-content:hover {
	background-color: #5aaddd;
	color: #fff;
	cursor: pointer;
	padding-top: 60px;
	padding-bottom: 40px;
}
.lt-services .service-content .excerpt p {
	font-size: 16px;
}
.lt-services .service-content:hover .excerpt p {
	color: #fff;
}
/*** Prices ***/
.lt-price .column-flush.span-3 {
	padding:15px;
	float: left;
}
.lt-price .column-flush .pricing-table {
	border: 1px solid #ecedee;
	border-radius: 5px;
}
.lt-price .clinix-pricingtable.last.column-flush {
	border-right: none!important;
}
.lt-price .excerpt li {
	list-style: none!important;
	font-weight: 500;
	color: #000;
}
.lt-price .pricing-table.boxed li {
	border: none!important;
}
.lt-price .pricing-table .table-head {
	background-color: #ecedee;
	padding-bottom: 38px;
}
.lt-price .layers-masonry-column:hover .pricing-table .table-head .price-tag {
	opacity: 0;
}
.lt-price .layers-masonry-column:hover .pricing-table .table-head .heading {
	color: #fff!important;
}
.lt-price .layers-masonry-column:hover .media li {
	color: #fff!important;
}
.lt-price .layers-masonry-column .pricing-table:hover .table-head {
	border-bottom: 1px solid #fff;
	color: #fff!important;
}
.lt-price .pricing-table .table-head h5 {
	font-size: 18px;	
}
.lt-price .pricing-table:hover .table-head h5 {
	color: #fff;	
}
.lt-price .layers-masonry-column .boxed .table-head > .price-tag {
	background: none!important;
	font-size: 15px;
	color: #000;
	line-height: 20px!important;
	padding: 6px!important;
}
.lt-price .style1 .price-tag {
	bottom: -11px!important;
	font-size: 14px;
	text-transform: capitalize;
}
.lt-price .button {
	background: #bbcbd3!important;
    border-radius: 5px;
    color: #fff;
    padding: 7px 40px;
    transition: all 400ms ease 0s;
}
.lt-price .layers-masonry-column:hover .button  {
	background: #fff!important;
	color: #5aaddd!important;
}
.lt-price .layers-masonry-column .pricing-table:hover {
	background: #5aaddd!important;
	cursor: pointer;
	transition: all 400ms ease 0s;
}
.lt-price .layers-masonry-column .pricing-table:hover .table-head {
	background: #5aaddd!important;
	transition: all 400ms ease 0s;
}
.lt-price .style1 .excerpt li:nth-child(2n) {
	background: none!important;
}
/* Portfolio */
.lt-portfolio .layers-masonry-column {
    float: left;
 }
/*** Blog ***/
.lt-blog .thumbnail-body .button {
	background: none!important;
	color: #5aaddd;
	font-weight: 300;
}
.lt-blog .thumbnail-body {
    background: none!important;
    padding: 0;
}
.lt-blog .thumbnail-body .excerpt {
    color: #333;
}
.lt-blog .meta-info .meta-author,
.meta-category ,.meta-tags {
    display: none!important;
}
.lt-blog .thumbnail-body .button {
    display: none!important;
}
.lt-blog .meta-info .meta-item {
    font-size: 13px;
    color: #999;
}
.lt-blog .thumbnail-body .heading a {
    color: #5aaddd!important;
    font-size: 14px;
    font-weight: 400;
}
/*** Team ***/
.lt-team img {
	border-radius: 50%;
}
.lt-team .layers-masonry-column {
	cursor: pointer;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.lt-team .layers-masonry-column:hover .designation,
.lt-team .layers-masonry-column:hover h5 {
	color: #fff!important;
}
.lt-team .layers-masonry-column:hover {
	background: #5aaddd!important;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.lt-team .layers-masonry-column:hover img {
	display: none;
}
.lt-team .layers-masonry-column:hover p {
	display: block;
	color: #fff!important;
}
.lt-team .excerpt p {
	font-size: 14px;
	font-weight: 300;
	display: none;
}
/*** Client ***/
.lt-client .media:hover img {
	cursor: pointer;
	opacity: 0.7;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
/*** Statistic ***/
.lt-statistic .sc-counter {
	color: #5aaddd;
	font-weight: 600;
}
.lt-statistic .media .heading {
	font-size: 19px;
	text-transform: capitalize;
	font-weight: 700;
}
/*** Star ****/
.lt-star .button {
	padding: 12px 40px;
	text-transform: uppercase;
}
/*** Contact ***/
.lt-contact-us {
	padding: 50px 0;
}
.lt-contact-us .wpcf7-form input {
    -moz-appearance: none;
    max-width: 100%!important;
}
.lt-contact-us textarea {
    max-width: 100%!important;
}
.lt-contact-us .wpcf7-submit  {
    padding: 10px 40px!important;
    font-size: 15px!important;
    font-weight: 300!important;
    text-transform: uppercase;
}
.lt-contact-us .wpcf7-form p {
	font-weight: 500!important;
}
/* Bottom */
.lt-bottom .section-nav-title {
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 400;
	color: #000!important;
}
.lt-tag h5 {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 500;
	color: #000!important;
}
.lt-tag .tagcloud a {
    background: transparent;
    border: 1px solid #999;
    padding: 4px 10px;
    float: left;
    display: block;
    color: #333;
    font-size: 14px !important;
    margin: 2px;
}
/* Footer */
#footer {
    padding-bottom: 0;
}
#footer .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
#footer .copyright {
   background: #5aaddd;
   color: #fff;
   padding: 30px 0;
   border-top: 0;
}
.lt-footer-right a,
.lt-footer-left a {
   color: #fff!important;
}
.copyright .span-6 {
    width: 1170px;
    margin: 0 auto;
    float: inherit;
    padding-left: 10px;
    padding-right: 10px;
}
#footer>div>div:nth-child(1) {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 10px;
}
.lt-footer-right {
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 50%;
}
.lt-footer-left {
    width: 50%;
}
.created-using-layers {
    display: none!important;
}